* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
}

body {
  background-color: #212121;
  color: white;
  font-family: "Lato", sans-serif;
}

.starSpan {
  margin-top: 0.3rem;
  margin-right: 0.8rem;
}

.tagSpan {
  margin-top: 0.2rem;
  color: grey;
}

.header {
  background-color: #1b1b1b;
  max-width: 100vw;
  height: 70px;
  cursor: pointer;
  user-select: none;
  width: 100vw;
  position: sticky;
  top: -1px;
  z-index: 10;
}

.navContainer {
  padding: 0.8rem;
}

.cards-container {
  padding: 0rem 1rem;
}

.card-restro {
  user-select: none;
  cursor: pointer;
  width: 22rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

h2 {
  margin-left: 13rem;
}

.hero > .search-container {
  margin-left: 13rem;
  margin-top: 3rem;
}

li {
  max-width: 100px;
  list-style: none;
  background-color: rgb(61, 61, 61);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 12rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.logo {
  padding-top: 0.1rem;
  max-width: 2.6rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.logo-container {
  display: flex;
}

.button-container {
  margin: 2rem 13rem;
  padding: 2rem;
}

.filter-svg {
  margin-right: 0.4rem;
}

input {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
}

button {
  padding: 0.4rem 1rem;
  background-color: #e5065d;
  border: none;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter-btn {
  font-weight: 700;
  border: 1px solid white;
}

.skeleton-card {
  background-color: rgb(58, 58, 58);
  user-select: none;
  cursor: pointer;
  width: 21rem;
  height: 12rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.skeleton-card-container {
  margin: 2rem 2rem;
}

.skeleton-text {
  background-color: rgb(52, 52, 52);
  user-select: none;
  cursor: pointer;
  width: 18rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
}

.skeleton-container {
  padding: 0rem 1rem;
}

/* flex classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.flex-sa {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 12rem;
  flex-wrap: wrap;
  flex: 1;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.card-restro:hover {
  scale: 1.05;
  background-color: rgb(40, 40, 40);
}

button:hover {
  background-color: #b90248;
}

@media only screen and (max-width: 820px) {
  .button-container,
  h2,
  ul > li,
  button {
    display: none;
  }

  .navContainer {
    z-index: 10;
    display: flex;
    justify-content: center;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendedCard {
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  border: 1px solid grey;
  border-radius: 0.5rem;
  height: 20vh; 
}

.la {
  align-items: start;
}
